<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="{{window.object.id()}}"></span>
<div class="handle text-center">
	<i class="ctrl fa fa-cog pull-left action-btn" gridster-no-drag enable-animate data-html="true" bs-dropdown="window.object.dropdown()" title="Settings"></i>
	<a class="close ctrl ctrl-close" gridster-no-drag ng-click="close()" title="Close this figure">&times;</a>
	<a class="btn btn-default btn-xs ctrl-filter" gridster-no-drag ng-click="resetFilter()" ng-show="window.object.resetButton()">reset filter</a>
</div>
<div class="text-center">
	<span ng-repeat="text in window.object.headerText() track by $index">
		{{text}}
	</span>
</div>
<div
	ng-show="window.object.circleSpin()"
    round-progress
    max="100"
    current="window.object.circleSpinValue()"
    color="#45ccce"
    bgcolor="#eaeaea"
    radius="100"
    stroke="20"
    semi="false"
    rounded="true"
    clockwise="true"
    iterations="50"
    animation="easeInOutQuart">
</div>

<div ng-hide="window.object.circleSpin()" replace-and-compile re-name="window.object.figure()" re-window="window.object"></div>
