<div>
	<div class="handle text-center">
		<button type="button" class="close ctrl-close" ng-click="remove(window.number,element)" aria-hidden="true">×</button>
		<a class="btn btn-default btn-xs ctrl-filter" ng-click="resetFilter()" ng-show="window.showResetBtn">reset filter</a>
	</div>
	<div class="text-center plot-title" ng-switch on="window.type"> 
		{{window.type}} of
		<strong>
			{{headerText}}
		</strong>
<!-- 		<strong ng-switch-when="histogram">
			{{window.variables.x}}
		</strong>
		<strong ng-switch-when="scatterplot">
			{{window.variables.x}}, {{window.variables.y}}
		</strong>
		<strong ng-switch-default>
			default
		</strong>
 -->	</div>
</div>