<div>
	<div class="handle text-center">
		<i class="ctrl fa fa-cog pull-left action-btn" data-html="true" data-animation="am-fade" bs-dropdown="settingsDropdown" title="Settings"></i>
		<a class="close ctrl ctrl-close" ng-click="remove(window.number,element)" title="Close this window">&times;</a>
		<a class="btn btn-default btn-xs ctrl-filter" ng-click="resetFilter()" ng-show="window.showResetBtn">reset filter</a>
	</div>
	<div class="ui-resizable-handle ui-resizable-se" id="segrip"></div>
	<div class="text-center plot-title" ng-switch on="window.type"> 
		{{window.type}} of
		<strong>
			{{headerText}}
		</strong>
	</div>
</div>