<div class="handle text-center">
	<i class="ctrl fa fa-cog pull-left action-btn" enable-animate data-html="true" bs-dropdown="settingsDropdown" title="Settings"></i>
	<a class="close ctrl ctrl-close" ng-click="close(window.handler, window._winid)" title="Close this window">&times;</a>
	<a class="btn btn-default btn-xs ctrl-filter" ng-click="resetFilter()" ng-show="window.showResetBtn">reset filter</a>
</div>
<div class="text-center plot-title"> 
	{{headerText[0]}}
	<strong>{{headerText[1]}}</strong>
	{{headerText[2]}}
</div>