*.sw*
*.pyc
*~
build/
bin/
node_modules/
!vendor/
vendor/*
!vendor/dcjs
vendor/dcjs/*
!vendor/dcjs/dc.js
!vendor/modernizr
vendor/modernizr/*
!vendor/modernizr/*.js
python-api/*
!python-api/*docker
!python-api/*Dockerfile
!python-api/metabolites*.tsv
!python-api/README.md
!python-api/requirements.txt
!python-api/*.sh
!python-api/*.config
!python-api/*.py
!python-api/*.json
!docs/
docs/*
!docs/requirements.txt
!docs/project/
docs/project/site/