*.sw*
*~
build/
bin/
node_modules/
vendor/*
vendor/packery/
vendor/draggabilly/
python-api/*
!python-api/requirements.txt
!python-api/*.sh
!python-api/*.config
!python-api/*.py
!python-api/*.json
python-api/melikerion-controller/
