Flask==0.10.1
Flask-Sockets==0.1
Flask-WTF==0.9.5
Jinja2==2.7.3
MarkupSafe==0.23
WTForms==1.0.5
Werkzeug==0.9.6
argparse==1.2.1
flask-mongoengine==0.7.0
gevent==1.0.1
gevent-websocket==0.9.3
greenlet==0.4.2
gunicorn==19.0.0
hashids==1.0.3
itsdangerous==0.24
mongoengine==0.9.0
pymongo==3.0
pyzmq==14.3.1
simplejson==3.5.3
wsgiref==0.1.2
