[data_loader]
header_file=metabolites_description_150820_clinical.tsv
dataset_identifier=datasetname
sampleid_identifier=sampleid

[flask]
#prefix for the API
prefix=/API/
host=localhost
port=8080
sockets_port=6565

[mongodb]
# Default port & host should be fine
host=localhost
port=27017
# Database name
db=samples