[data_loader]
header_file=metabolites_description_160313_lolipop.tsv
dataset_identifier=datasetname
dataset_default=default
sampleid_identifier=sampleid
explore_default_histograms = ["Serum-C", "Serum-TG", "HDL-C", "LDL-C", "Glc"]
som_profiles = [
	{
		"name": "Fatty acids",
		"variables": ["TotFA","UnSat","DHA","LA","FAw3","FAw6","PUFA","MUFA","SFA","DHAtoFA","LAtoFA","FAw3toFA","FAw6toFA","PUFAtoFA","MUFAtoFA" ,"SFAtoFA"]
	},
	{
		"name": "Total lipids",
	    "regex": ".*-L\\b"
	},
	{
	    "name": "Small molecules",
	    "variables": ["Glc", "Lac", "Pyr", "Cit", "Glol", "Ala", "Gln", "His", "Ile", "Leu", "Val", "Phe", "Tyr", "Ace", "AcAce", "bOHBut", "Crea", "Alb", "Gp"]
	} ]
som_input_variables=["XXL-VLDL-L","XL-VLDL-L","L-VLDL-L","M-VLDL-L","S-VLDL-L","XS-VLDL-L","IDL-L","L-LDL-L","M-LDL-L","S-LDL-L","XL-HDL-L","L-HDL-L","M-HDL-L","S-HDL-L","Serum-C","Serum-TG","HDL-C","LDL-C","Glc","Cit","Phe","Gp","Tyr","FAw3toFA","FAw6toFA","SFAtoFA"]

[flask]
#prefix for the API
prefix=/API/
host=localhost
port=8080
sockets_port=6565

[mongodb]
# Default port & host should be fine
host=db
port=27017
# Database name
db=samples
settings_db=settings
# SOM db name
somdb=som