<div>
	<h4>New histogram</h4>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="xcoordinate">Variable</label>
			<div class="controls">
				<select ng-disabled="!canEdit()" id="xcoordinate">
					<optgroup ng-repeat="(ind,set) in variables" label="{{set.name}}">
						<option ng-repeat="var in set.vars">{{var}}</option>
					</optgroup>					
				</select>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" ng-disabled="!canEdit()"> Pool datasets
				</label>
				<button type="submit" class="btn btn-primary" ng-disabled="!canEdit()">Add plot</button>
			</div>
		</div>
	</form>
</div>