<div class="well-small well">
	<h4>New histogram</h4>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="xcoordinate">Variable</label>
			<div class="controls">
				<select ng-model="selection.x" ng-options="item.variable group by item.set for item in variables" required ng-disabled="!canEdit()">
				</select>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" ng-disabled="!canEdit()"> Pool datasets
				</label>
				<button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="add(selection)">Add plot</button>
			</div>
		</div>
	</form>
</div>