<div class="well-small well">
	<h4>New scatterplot</h4>
	<form class="form-horizontal" name="plot" novalidate>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="xcoordinate">X coordinate</label>
				<div class="controls">
					<select id="xcoordinate" ng-model="selection.x" ng-options="item.variable group by item.set for item in variables" required ng-disabled="!canEdit()">
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="ycoordinate">Y coordinate</label>
				<div class="controls">
					<select id="ycoordinate" ng-model="selection.y" ng-options="item.variable group by item.set for item in variables" required ng-disabled="!canEdit()">
					</select>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" ng-disabled="!canEdit()"> Pool datasets
					</label>
					<button type="submit" class="btn btn-primary" ng-disabled="!canEdit()" ng-click="add(selection)">Add plot</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>