<div class="well-small well">
	<h4>New scatterplot</h4>
	<form class="form-horizontal" name="plot" novalidate>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="xcoord-scatter">X coordinate</label>
				<div class="controls">
					<select id="xcoord-scatter" ng-model="selection.x" ng-options="item as item for item in variables" required ng-disabled="!canEdit()">
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="ycoord-scatter">Y coordinate</label>
				<div class="controls">
					<select id="ycoord-scatter" ng-model="selection.y" ng-options="item as item for item in variables" required ng-disabled="!canEdit()">
					</select>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" ng-model="selection.pooled" ng-disabled="!canEdit()"> Pool datasets
					</label>
					<button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="add(selection)">Add plot</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>