/* Include other subfiles */
 @import 'plotting/plotting.less';
 @import 'windowing/windowing.less';
 @import 'sidebar/sidebar.less';


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/********************
  OTHER
 *********************/

// link creator on the header
.popover:focus, .button:focus {
  outline: 0;
}

.alert {
  width: 300px;
}

/* Sidebar animations */
