<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-scroll-y" md-is-locked-open="isLocked" md-closed="isClosed" md-component-id="left">
  <md-toolbar class="md-hue-2">
    <div layout="column" class="md-toolbar-tools inset" layout-align="center center">
      <md-checkbox ng-model="isLocked" aria-label="Lock locked">Lock side menu</md-checkbox>
    </div>
  </md-toolbar>
  <md-content layout="column" layout-align="space-around center">
    <div ng-switch="getMenuButtonType()" flex>
      <div ng-switch-default>
        <md-button class="md-raised md-primary" ng-click="openGraphModal($event)">Create a new graph</md-button>
      </div>
      <div ng-switch-when="regression">
        <md-button class="md-raised md-primary" ng-click="openRegressionModal($event)">Create a new regression view</md-button>
      </div>
    </div>
  </md-content>
  <md-divider></md-divider>

  <div class="dataset-form" flex></div>

  <div class="filter-info"></div>

  <div class="sample-info text-center"></div>
</md-sidenav>