/* Include other subfiles */
 @import 'plotting/plotting.less';
 @import 'windowing/windowing.less';
 @import 'menucomponents/menucomponents.less';
  @import 'explore/explore.less';
 @import 'som/som.less';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/********************
  OTHER
 *********************/


.fa {
	margin-left: 5px;
	margin-right: 5px;
}

.menu-block {
	min-height: 10%;
}



body {
  padding-top: 5px;
  background: #ecebe7;
}


.btn-primary {
  background: #a9419c;
  border: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  margin-bottom: 0;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 10px;
}


.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  color: #444;
  text-align: left;
  padding: 3px 0;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  border-bottom: 1px solid #444;
}






/* Flexbox layout */

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.pl-fill {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.pl-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    width: 100%;
    height: 100%;

    overflow: hidden;

   /* -webkit-flex: 9 3 auto;
    -ms-flex: 9 3 auto;
    flex: 9 3 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;*/

  /*width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
  margin: 0;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;*/
}

.pl-sidenav {

  overflow-y: auto;
  /*-webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  min-width: 300px;
  overflow-y: auto;*/
}



.pl-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pl-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pl-header {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;

  -webkit-flex: 1 0 55px;
  -ms-flex: 1 0 55px;
  flex: 1 0 55px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;

  z-index: 10;
}

.pl-left {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 0 330px;
    -ms-flex: 2 0 330px;
    flex: 2 0 330px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

  /*-webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  min-width: 200px;*/
}

.pl-right {
  -webkit-flex: 8 3 auto;
  -ms-flex: 8 3 auto;
  flex: 8 3 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  /*overflow: hidden;*/
  /*overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;*/
}

.pl-tab-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 5%;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  min-height: 40px;
}

.pl-content {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 9 3 auto;
    -ms-flex: 9 3 auto;
    flex: 9 3 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    overflow:hidden;
    height: 100%;


/*  -webkit-box-flex: 8;
  -webkit-flex: 8 0 auto;
      -ms-flex: 8 0 auto;
          flex: 8 0 auto;
  overflow-y: auto;*/
}


.scrolling {
  height:100%;
  overflow-y: scroll;
}

@spacing: 3px;

.rg-top, .rg-bottom {
    span {
        border-width: 1px 0;
        left: 50%;
        margin: @spacing/4 0 0 -10px;
        width: 20px;
        height: @spacing/2;
    }
}

.rg-top     {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -@spacing/2;
    background-color: white;
}
.rg-right   {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -@spacing;
    background-color: white;
}
.rg-bottom  {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -@spacing/2;
    background-color: white;
}
.rg-left    {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -@spacing;
    background-color: white;
}


.yellow {
  background-color: yellow;
}

 nav.navbar > button {
  margin-left: 10px;
 }