<div class="container-fluid">
    <div class="row text-center">
      <button class="btn btn-secondary" ng-click="toggleSidenav()">Hide this menu</button>
    </div>
    <hr/>
    <div ng-switch="getMenuButtonType()" class="text-center">
      <div ng-switch-default>
        <button class="btn btn-primary" ng-disabled="!canOpen()" ng-click="openGraphModal($event)">Create a new graph</button>
      </div>
      <div ng-switch-when="som">
        <div class="row text-center">
          <button class="btn btn-primary"ng-disabled="!canOpen()" ng-click="openSOMModal($event)">Create a new graph</button>
        </div>
        <div class="row text-center">
          <button class="btn btn-secondary" ng-disabled="!canOpen()" ng-click="openSOMInputModal($event)">Select input variables</button>
        </div>
      </div>
      <div ng-switch-when="regression">
        <button class="btn btn-primary" ng-disabled="!canOpen()" ng-click="openRegressionModal($event)">Create a new regression view</button>
      </div>
    </div>  
    <hr/>
    <div pl-dataset-form></div>
    <div pl-filter-info></div>
    <div pl-circle-filter-control></div>
    <div growl inline="true" limit-messages="1" reference="filterinfo" class="am-fade container-fluid"></div>
    <div pl-sample-info></div>
</div>