

<nav class="navbar navbar-default" role="navigation">
  <button class="btn btn-default navbar-btn pull-left inline" ng-click="toggleSidenav()" ng-show="!sideNavOpen()">
    <i class="fa fa-bars" title="Show menu"></i> 
  </button>
  <div class="navbar-header">
    <a href ui-sref="vis.explore" class="navbar-brand">Plotter</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
     <li ng-repeat="tab in tabs" ng-class="{active:$state.includes('vis.' + tab.name)}">
      <a href ui-sref="{{ 'vis.' + tab.name }}({ state: undefined })" eat-click-if="!tabChangeEnabled(tab)" role="tab" data-toggle="tab">{{tab.title}}</a>
     </li>
     <li><a href="/documentation" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i> Docs</a></li>
    </ul>
  <ul class="nav navbar-nav navbar-right">
    <div pl-link-creator></div>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <div pl-task-cancel></div>
  </ul>  
  <ul class="nav navbar-nav navbar-right">
    <div pl-task-progress-indicator></div>
  </ul>
</div>
</nav>
