<div class="well-small well">
	<h4>New heat map</h4>
	<form class="form-horizontal" role="form" name="plot" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="vars-heatmap">Input variables</label>
				<div class="col-sm-8">
					<small class="pull-right" ng-show="selection.x"><a href="" ng-click="clear()">Clear selection</a></small>
					<select
					chosen
					multiple
					class="form-control" id="vars-heatmap"
					data-placeholder=" "
					ng-model="selection.x"
					ng-options="o.name as o.name group by o.group.name for o in menuVariables | orderBy:['group.order','name_order']"
					required ng-disabled="!canEdit()"
					width="'100%'">
					<option value=""></option>
				</select>
				
				</div>
			</div>

		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="add(selection)">Add heatmap</button>
			</div>
		</div>
	</fieldset>
	</form>
</div>