<div class="well-small well">
	<h4>New histogram</h4>
	<form class="form-horizontal" role="form" novalidate>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="xcoord-hist">Variable</label>
			<div class="col-sm-8">
				<select
				chosen
				class="form-control" id="xcoord-hist" 
				allow-single-deselect="true"
				data-placeholder=" "
				ng-model="selection.x"
				ng-options="o.name as o.name group by o.group for o in variables | orderBy:['group','name']"
				required ng-disabled="!canEdit()">
				<option value=""></option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<label>
				<input type="checkbox" ng-model="selection.pooled" ng-disabled="!canEdit()"> Pool datasets
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="add(selection)">Add plot</button>
		</div>
	</div>
</form>
</div>