<div class="well-small well">
	<h4>New scatterplot</h4>
	<form class="form-horizontal" role="form" name="plot" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="xcoord-scatter">X coordinate</label>
				<div class="col-sm-7">
					<select
					chosen
					class="form-control" id="xcoord-scatter" 
					allow-single-deselect="true"
					data-placeholder=" "
					ng-model="selection.x"
					ng-options="o.name as o.name group by o.group for o in variables | orderBy:['group','name']"
					required ng-disabled="!canEdit()">
					<option value=""></option>
				</select>
				
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="ycoord-scatter">Y coordinate</label>
			<div class="col-sm-7">
				<select
				chosen
				allow-single-deselect="true"
				class="form-control" id="ycoord-scatter" 
				data-placeholder=" "
				ng-model="selection.y"
				ng-options="o.name as o.name group by o.group for o in variables | orderBy:['group','name']"
				required ng-disabled="!canEdit()">
				<option value=""></option>
			</select>

		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-7">
			<label>
				<input type="checkbox" ng-model="selection.pooled" ng-disabled="!canEdit()"> Pool datasets
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-7">
			<button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="add(selection)">Add plot</button>
		</div>
	</div>
</fieldset>
</form>
</div>