/********************
  SIDEBAR
 *********************/

/* Plot div configurations */
.form-well {
  background-color: #ffffff;
}

/* Dataset configuration */

div#tablewrapper {
  max-height: 250px;
  overflow-y: auto;
}

/*
table#dataset {
  table-layout: fixed;
} */

/* #sidebar {
  min-width: 370px;
} */

@media (min-width: @screen-lg-min) {
  #sidebar {
    max-width: 500px;
  }
}

.form-horizontal .control-label {
  text-align:left;
}