/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/* Bootstrap styles that are actually needed */

@import '../../vendor/bootstrap/less/variables.less';
@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/modals.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/close.less';
@import '../../vendor/bootstrap/less/alerts.less';
@import '../../vendor/bootstrap/less/wells.less';
@import '../../vendor/bootstrap/less/tables.less';
@import '../../vendor/bootstrap/less/popovers.less';
@import '../../vendor/bootstrap/less/component-animations.less';
@import '../../vendor/bootstrap/less/panels.less';
@import '../../vendor/bootstrap/less/labels.less';
@import '../../vendor/bootstrap/less/list-group.less';


/*@import '../../vendor/bootstrap-additions/src/bootstrap-additions.less';
@import "../../vendor/bootstrap-additions/src/alert/alert.less";
@import "../../vendor/bootstrap-additions/src/aside/aside.less";
@import "../../vendor/bootstrap-additions/src/callout/callout.less";
@import "../../vendor/bootstrap-additions/src/modal/modal.less";
@import "../../vendor/bootstrap-additions/src/popover/popover.less";
@import "../../vendor/bootstrap-additions/src/tooltip/tooltip.less"; */

/* Not needed
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/reset.less'; 
@import '../../vendor/bootstrap/less/layouts.less';
*/



/* Font-awesome */
@import '../../vendor/font-awesome/less/bordered-pulled.less';
@import '../../vendor/font-awesome/less/core.less';
@import '../../vendor/font-awesome/less/icons.less';
@import '../../vendor/font-awesome/less/larger.less';
@import '../../vendor/font-awesome/less/mixins.less';
@import '../../vendor/font-awesome/less/path.less';
@import '../../vendor/font-awesome/less/spinning.less';
@import '../../vendor/font-awesome/less/variables.less';

/* 
@import '../../vendor/font-awesome/less/extras.less';
@import '../../vendor/font-awesome/less/fixed-width.less';
@import '../../vendor/font-awesome/less/list.less';
@import '../../vendor/font-awesome/less/rotated-flipped.less';
@import '../../vendor/font-awesome/less/stacked.less';
*/


 @import '../../vendor/bootstrap-chosen/bootstrap-chosen.less';




/* Angular-gridster */
@import '../../vendor/angular-gridster/src/angular-gridster.less';




/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

/** 
 App-wide CSS rules

*/

      /* Override some defaults */
      html, body {
        background-color: #eee;
        width: 99.2%;
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }


      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding-top: 15px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 6px 6px 6px 6px;
           -moz-border-radius: 6px 6px 6px 6px;
                border-radius: 6px 6px 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        margin: 0px 0px 0px;
        h1 {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.

 */

 @import '../app/vis/vis.less';
 @import '../app/login/login.less';
 @import '../common/services-notify.less';
