<div ng-show="isVisible()">
    <div class="panel panel-default am-fade text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Make a new dataset</h3>
      </div>
      <div class="form-group">
        <input ng-model="derivedInput" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="!canSubmitDerived()" ng-click="createDerived(derivedInput)">Create</button>
    </div>

    <div class="panel panel-default am-fade text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Active filters</h3>
      </div>
      <table class="table table-striped table-condensed" ng-show="filteredFilters.length > 0">
        <tbody>
          <tr ng-repeat="filter in filteredFilters = ( filters | orderBy:filterOrder | filter:showFilter ) track by $index"  class="am-fade-and-slide-top">
            <td  class="col-sm-9" ng-switch="filter.type()">
              <span ng-switch-when="circle">
                <label for="check{{$index}}">
                  <span ng-style="{ 'color': filter.color() }">Circle {{filter.name() | cut:true:5:' ...'}}</span> 
                  <span class="badge am-fade pull-right" style="margin-left: 10px;">{{filter.count()}} samples</span>
                </label>
              </span>
              <span ng-switch-when="range">
                {{formatNumber(filter.payload()[0])}}
                <span class="spaced">&lt;</span>
                <strong>{{filter.variable().name()}}</strong>
                <span class="spaced">&lt;</span>
                {{formatNumber(filter.payload()[1])}}
              </span>
              <span ng-switch-when="classed">
                <strong>{{filter.variable().name()}}</strong>
                <span class="spaced">|</span>
                {{filter.payload().name}}
                <span class="spaced">|</span>
                {{filter.payload().dataset}}
              </span>
              <span ng-switch-default>
                (No information of filter)
              </span>
            </td>
            <td class="col-sm-3 text-center" ng-switch="filter.type()">
              <input id="check{{$index}}" ng-switch-when="circle" type="checkbox" ng-model="somCheckbox[filter.id()]"/>
              <i ng-switch-default class="fa fa-lg fa-times-circle ctrl text-danger" ng-click="close(filter)"></i>
            </td>
          </tr>
        </tbody>
        <tfoot ng-switch="showReset()">
          <tr ng-switch-when="true">
            <td></td>
            <td class="text-center ctrl" ng-click="reset()">Delete all</td>
          </tr>
          <tr ng-switch-when="false">
            <td class="text-muted">Select filters to be included in a new dataset.</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <div ng-show="!filteredFilters.length">
        <div class="container-fluid">
          <p class="text-info">No active filters.</p>
        </div>
      </div>
    </div>
</div>


