<div ng-show="isVisible()">


    <div class="panel panel-default am-fade text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Active filters</h3>
      </div>
      <table class="table table-striped table-condensed" ng-show="filteredFilters.length > 0">
        <tbody>
          <tr ng-repeat="filter in filteredFilters = ( filters | orderBy:filterOrder | filter:showFilter ) track by $index"  class="am-fade-and-slide-top">
            <td  class="col-sm-10" ng-switch="filter.type()">
              <span ng-switch-when="circle">
                <label for="check{{$index}}">
                  <span ng-style="{ 'color': filter.color() }">Circle {{filter.name() | cut:true:5:' ...'}}</span> 
                  <span class="badge am-fade pull-right" style="margin-left: 10px;">{{filter.count()}} samples</span>
                </label>
              </span>
              <span ng-switch-when="range">
                <input type="number" class="pl-range-filter-input" ng-init="initRangeFilter(filter, 'lower')" ng-model="rangeFilterLookup[filter.variable().id].lower" ng-change="setRangeFilter(filter, 'lower')" step="0.01" ng-min="getRangeFilterMin(filter)" ng-max="getRangeFilterMax(filter)">
                <span class="spaced">&lt;</span>
                <strong title={{filter.variable().labelName()}}>{{ truncateMiddle( filter.variable().labelName() ) }}</strong>
                <span class="spaced">&lt;</span>
                <input type="number" class="pl-range-filter-input" ng-init="initRangeFilter(filter, 'upper')" ng-model="rangeFilterLookup[filter.variable().id].upper" ng-change="setRangeFilter(filter, 'upper')" step="0.01" ng-min="getRangeFilterMin(filter)" ng-max="getRangeFilterMax(filter)">
                <!--{{formatNumber(filter.payload()[1])}} -->
              </span>
              <span ng-switch-when="classed">
                <strong>{{filter.variable().labelName()}}</strong>
                <span class="spaced">|</span>
                {{filter.payload().name}}
                <span class="spaced">|</span>
                {{filter.payload().dataset}}
              </span>
              <span ng-switch-default>
                (No information of filter)
              </span>
            </td>
            <td class="col-sm-2 text-center" ng-switch="filter.type()">
              <input id="check{{$index}}" ng-switch-when="circle" type="checkbox" ng-model="somCheckbox[filter.id()]"/>
              <i ng-switch-default class="fa fa-lg fa-times-circle ctrl text-danger" ng-click="close(filter)"></i>
            </td>
          </tr>
        </tbody>
        <tfoot ng-switch="showReset()">
          <tr ng-switch-when="true">
            <td class="col-sm-8"></td>
            <td class="col-sm-4 text-center ctrl" ng-click="reset()">Delete all</td>
          </tr>
          <tr ng-switch-when="false">
            <td class="text-muted">Select filters to be included in a new dataset.</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <div ng-show="!filteredFilters.length">
        <div class="container-fluid">
          <p class="text-info">No active filters.</p>
        </div>
      </div>
    </div>


    <div class="panel panel-default am-fade text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Make a new dataset from selection</h3>
      </div>
      <div class="form-group">
        <input ng-model="derivedInput" type="text" class="form-control" id="name" placeholder="Type here a name for the new dataset">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="createDerived(derivedInput)">Create dataset</button>
    </div>


</div>


