<div>
	<h4><i class="fa fa-bar-chart"></i> Histogram</h4>
	<form class="form-horizontal" role="form" novalidate>
		<fieldset ng-disabled="!canEdit()">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="xcoord-hist">Variable</label>
				<div class="col-sm-8">
					<select
					chosen
					class="form-control" id="xcoord-hist" 
					allow-single-deselect="true"
					data-placeholder=" "
					ng-model="selection.x"
					ng-options="o.name as o.name group by o.group.name for o in variables | orderBy:['group.order','name_order']"
					ng-disabled="!canEdit()"
					required
					width="'100%'">
					<option value=""></option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="selection.pooled"><strong>Pool datasets</strong>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="add(selection)">Add plot</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>