/********************
  SIDEBAR
 *********************/

/* Plot div configurations */
.form-well {
  background-color: #ffffff;
}

/* Dataset configuration */

div#tablewrapper {
  max-height: 250px;
  overflow-y: auto;
}

/*
table#dataset {
  table-layout: fixed;
} */

/* #sidebar {
  min-width: 370px;
} */

@media (min-width: @screen-lg-min) {
  #sidebar {
    max-width: 500px;
  }
}

.form-horizontal .control-label {
  text-align:left;
}


/* striping for modal variable selections */
.checkbox:not(:last-child):nth-of-type(odd) {
  background-color: rgba(245, 245, 245, 0.75);
}

.pl-nav-list {
  height: 300px;
}

.pl-nav-column {
  flex: 0 0 23%;
  overflow-y: auto;
  margin-right: 20px;
  padding: 2px;
}

.pl-nav-double-column {
  flex: 0 0 45%;
  overflow-y: auto;
  margin-right: 20px;
  padding: 2px;
}

body.modal-open mentio-menu {
  z-index: 20000 !important;
}



/* for mentio */
.editor {
  overflow: auto;
    min-height: 140px;
}

.menu-highlighted {
    font-weight: bold;
}

mentio-menu {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
}
