<div class="container-fluid" ng-switch="mode">
	<div class="row">
		<div ng-switch-when="multi">
			<div class="col-sm-12 panel panel-default">
				<div class="panel-body">
					 <md-card-content>
					 <md-chips ng-model="payload">
						<input type="text" id="query" ng-model="filter.input" placeholder="Type to search for a variable"/>
						<md-chip-template>
							<strong>{{$chip.name}}</strong>
							<em>({{$chip.desc}})</em>
						</md-chip-template>
					 </md-chips>
					 </md-card-content>
				</div>
			</div>
		</div>

		 <div ng-switch-when="scatterplot">
		 	<div class="col-sm-5 panel panel-default">
		 		<div class="panel-body">
					<md-chips ng-model="payloadX">
						<input type="text" id="query-x" ng-model="filter.x" ng-focus="setFocus('x')" placeholder="Variable X - Type to search for a variable" autofocus/>
						<md-chip-template>
							<strong>{{$chip.name}}</strong>
							<em>({{$chip.desc}})</em>
						</md-chip-template>
					 </md-chips>
		 		</div>
			</div>
			<div class="col-sm-offset-1 col-sm-5 panel panel-default">
				<div class="panel-body">
					<md-chips ng-model="payloadY">
						<input type="text" id="query-y" ng-model="filter.y" ng-focus="setFocus('y')" placeholder="Variable Y - Type to search for a variable"/>
						<md-chip-template>
							<strong>{{$chip.name}}</strong>
							<em>({{$chip.desc}})</em>
						</md-chip-template>
					 </md-chips>
				</div>
			</div>
	     </div>

		 <div ng-switch-when="regression">
		 	<div class="col-sm-12 panel panel-default">
		 		<div class="panel-heading">Target variable</div>
		 		<div class="panel-body">
					<md-chips ng-model="payloadTarget">
						<input type="text" id="query-target" ng-model="filter.target" ng-focus="setFocus('target')" placeholder="Type to search for a variable" autofocus/>
						<md-chip-template>
							<strong>{{$chip.name}}</strong>
							<em>({{$chip.desc}})</em>
						</md-chip-template>
					 </md-chips>
		 		</div>
		 	</div>
		 	<div class="col-sm-12 panel panel-default">
		 		<div class="panel-heading">Association variables</div>
		 		<div class="panel-body">
					 <md-chips ng-model="payloadAssociation">
						<input type="text" id="query-association" ng-model="filter.association" ng-focus="setFocus('association')" placeholder="Type to search for a variable"/>
						<md-chip-template>
							<strong>{{$chip.name}}</strong>
							<em>({{$chip.desc}})</em>
						</md-chip-template>
					 </md-chips>
		 		</div>
		 	</div>
		 	<div class="col-sm-12 panel panel-default">
		 		<div class="panel-heading">Adjust variables</div>
		 		<div class="panel-body">
					 <md-chips ng-model="payloadAdjust">
						<input type="text" id="query-adjust" ng-model="filter.adjust" ng-focus="setFocus('adjust')" placeholder="Type to search for a variable"/>
						<md-chip-template>
							<strong>{{$chip.name}}</strong>
							<em>({{$chip.desc}})</em>
						</md-chip-template>
					 </md-chips>
		 		</div>
		 	</div>
	     </div>
	</div>
</div>


<div ng-switch="inputIsDefined()">
	<div ng-switch-when="true" class="am-fade">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="ctrl">
						<a ng-click="toggleGroup(filtered)">Select</a>
					</th>
					<th class="ctrl">
						<a ng-click="setSortType('name'); toggleSortReverse()">
							Variable Name
							<span ng-show="sortTypeIs('name') && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortTypeIs('name') && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th class="ctrl">
						<a ng-click="setSortType('desc'); toggleSortReverse()">
							Description
							<span ng-show="sortTypeIs('desc') && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortTypeIs('desc') && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th class="ctrl">
						<a ng-click="setSortType('group.order'); toggleSortReverse()">
							Group
							<span ng-show="sortTypeIs('group.order') && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortTypeIs('group.order') && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
					<th class="ctrl">
						<a ng-click="setSortType('unit'); toggleSortReverse()">
							Unit
							<span ng-show="sortTypeIs('unit') && !sortReverse" class="fa fa-caret-down"></span>
							<span ng-show="sortTypeIs('unit') && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="variable in filtered = (variables | filter:tableFilter) | orderBy:sortType:sortReverse | limitTo: pageSize track by variable.name" ng-click="toggleVariable(variable); updateSelection(variable, $event)">
					<td><input type="checkbox" ng-change="updateSelection(variable, $event)" ng-model="variable.selected" noclick></td>
					<td>{{variable.name}}</td>
					<td>{{variable.desc}}</td>
					<td>{{variable.group.name}}</td>
					<td>{{variable.unit}}</td>
				</tr>
			</tbody>
		</table>

		<div ng-show="filtered.length == 0">
			<p class="text-info">Result set is empty. Filter the results by typing to the above field.</p>
		</div>

		<div ng-show="filtered.length > pageSize">
			<p class="text-info">Showing first {{pageSize}} results of {{filtered.length}} variables</p>
		</div>		
	</div>

	<div ng-switch-when="false">
		<div class="pl-container pl-nav-list pl-flex-row">
			<div class="list-group pl-nav-column">
				<div class="list-group-item ctrl am-fade" ng-repeat="group in nested | orderBy:orderGroup track by $index" ng-click="selectGroup(group, 'first')" ng-class="{ 'active': isSelected(group, 'first') }">
					{{getGroupName(group)}}
					<span class="badge pull-right">{{groupSelectedCount(group)}}</span>
				</div>			
			</div>

			<div class="list-group pl-nav-column">
				<div class="list-group-item am-fade" ng-repeat="item in selected.first | orderBy:orderGroup track by $index" ng-click="selectGroup(item, 'second')" ng-class="{ 'active': isSelected(item, 'second') }" ng-switch="getType(item)">
					<div ng-switch-when="continues" class="ctrl">
						{{getGroupName(item)}}
						<span class="badge pull-right">{{groupSelectedCount(item)}}</span>
					</div>
					<div ng-switch-when="terminates" class="checkbox">
						<label>
							<input type="checkbox" ng-model="item.selected" ng-change="updateSelection(item)" noclick>
							{{item.name}}
						</label>
						<i class="fa fa-info-circle ctrl pull-right text-muted" ng-click="selectInfo(item)"></i>
					</div>
				</div>

				<div ng-switch="majoritySelected(selected.first)" ng-show="canSelectMultiple() && selectedHasVariables(selected.first)">
					<div class="list-group-item am-fade ctrl text-primary" ng-switch-when="true" ng-click="deselectAll(selected.first)">
						<strong>Deselect all</strong>
					</div>
					<div class="list-group-item am-fade ctrl text-primary" ng-switch-when="false" ng-click="selectAll(selected.first)">
						<strong>Select all</strong>
					</div>
				</div>
			</div>

			<div class="list-group pl-nav-column">
				<div class="list-group-item am-fade" ng-repeat="item in selected.second | orderBy:orderGroup track by $index">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="item.selected" ng-change="updateSelection(item)">
							{{item.name}}
						</label>
						<i class="fa fa-info-circle ctrl pull-right text-muted" ng-click="selectInfo(item)"></i>
					</div>
				</div>

				<div ng-switch="majoritySelected(selected.second)" ng-show="canSelectMultiple() && selectedHasVariables(selected.second)">
					<div class="list-group-item am-fade ctrl text-primary" ng-switch-when="true" ng-click="deselectAll(selected.second)">
						<strong>Deselect all</strong>
					</div>
					<div class="list-group-item am-fade ctrl text-primary" ng-switch-when="false" ng-click="selectAll(selected.second)">
						<strong>Select all</strong>
					</div>
				</div>
			</div>

			<div class="list-group pl-nav-column am-fade" ng-show="selected.third">
				<div class="list-group-item well well-small">
					<h3>{{selected.third.desc}}</h3>
					<em>{{selected.third.name}}</em>
					<p>{{selected.third.unit}}</p>
				</div>
			</div>

	</div>

	</div>
</div>
