<div ng-controller="HeatmapModalFormController" style="height: 100%;">
	<div class="modal-header">
		<div class="row">
			<div class="col-sm-8">
				<h3 class="modal-title">Select a set of variables for correlation plot</h3>
			</div>
			<div class="col-sm-2">
				<span><strong>{{getSelected().length}}</strong> variables selected</span>
			</div>
			<div class="col-sm-2">
				<p><button type="button" class="btn btn-default" ng-click="clear()">Clear all selections</button></p>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-3">
				<ul class="nav bs-sidenav" bs-scrollspy data-target="{{'#vargrp-' + groupList[0].group.order}}">
				  <li ng-repeat="groupList in sideGroups | orderBy: groupList[0].group.order">
				    <a href ng-click="scrollToGroup('vargrp-' + groupList[0].group.order)">{{groupList[0].group.name}}</a>
				  </li>
				</ul>

			</div>
			<div class="col-sm-9">
				<div class="row" ng-repeat="rows in groups">
					<div class="col-sm-4" ng-repeat="groupVars in rows | orderBy:'groupVars[0].group.order' ">
						<div class="panel-group" ng-model="panels">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title" id="vargrp-{{groupVars[0].group.order}}">
										{{groupVars[0].group.name}}
									</h4>
								</div>
								<!--  bs-collapse-target -->
								<div class="panel-collapse">
									<div class="panel-body">
										<div class="checkbox" ng-repeat=" variable in groupVars | orderBy:'name_order' ">
											<label>
												<input type="checkbox" value="{{variable.name}}" ng-model="variable.selected">
												{{variable.name}}
											</label>
										</div>
										<hr/>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="{{groupVars[0].group.order}}" ng-click="toggleGroupSelection(groupVars)" ng-checked="groupSelected(groupVars)">
												Select all in this group
											</label>
										</div>						

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-sm-offset-4 col-sm-4 text-center">
				<button type="button" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="post()">Plot correlation plot</button>
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</div>
</div>