<div class="modal-header">
    <h3 class="modal-title">{{config.title}}</h3>
</div>
<div class="modal-body">
    <ng-include src="config.template">
    </ng-include>
</div>
<div class="modal-footer">
  <div class="row col-sm-12 text-center">
    <div growl inline="true" limit-messages="1" reference="graphinfo" class="am-fade"></div>
  </div>
    <button ng-click="submit.initial()" ng-disabled="!canSubmit.initial()" class="btn btn-primary">
    {{config.actions.submit}}
    </button>
    <button ng-click="cancel.initial()" class="btn btn-warning">
    {{config.actions.cancel}}
    </button>
</div>