<div class="modal-tabset-wrapper graph-selection-tabs">
	<uib-tabset class="modal-tabset">
		<uib-tab select="selectTab(0)">
			<uib-tab-heading>Histogram</uib-tab-heading>
			<div class="multiple-variable-selection" re-selection="histogram.selection" re-mode="'multi'"></div>	
		</uib-tab>
		<uib-tab select="selectTab(1)">
			<uib-tab-heading>Scatterplot</uib-tab-heading>
			<div class="multiple-variable-selection" re-selection="scatterplot.selection" re-mode="'scatterplot'"></div>
		</uib-tab>
		<uib-tab select="selectTab(2)">
			<uib-tab-heading>Heatmap</uib-tab-heading>

			<div class="heatmap-options-container">

				<div class="heatmap-multiple-variable-container">					
					<div class="multiple-variable-selection" re-selection="heatmap.selection" re-mode="'multi'">
						
					</div>
				</div>

				<div class="plotting-options">
				<label class="col-md-3 control-label">Plotting method</label>
				<div class="btn-group" role="group" aria-label="Source of data">
				  <button type="button" class="btn btn-primary" ng-click="separateHeatmaps(true)" ng-class="{ 'active': separateHeatmaps() }">Separate heat maps for each dataset</button>
				  <button type="button" class="btn btn-primary" ng-click="separateHeatmaps(false)" ng-class="{ 'active': !separateHeatmaps() }">One combined heat map</button>
				</div>
				</div>

			</div>

			
		</uib-tab>
		<uib-tab select="selectTab(3)">
			<uib-tab-heading>Box plot</uib-tab-heading>
			<div class="multiple-variable-selection" re-selection="boxplot.selection" re-mode="'multi'"></div>	
		</tab>
	</uib-tabset>
</div>
