<md-dialog aria-label="" flex-md="90" flex-gt-lg="80">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{config.title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel.initial()">
      	<i class="fa fa-2x fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  	<ng-include src="config.template">
  	</ng-include>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="submit.initial()" ng-disabled="!canSubmit.initial()" class="md-primary md-raised">
    {{config.actions.submit}}
    </md-button>
    <md-button ng-click="cancel.initial()" class="md-default md-raised">
    {{config.actions.cancel}}
    </md-button>
  </div>
  </form>
</md-dialog>