<div class="container-fluid">
	<div class="multiple-variable-selection" re-selection-target="selection.target" re-selection-adjust="selection.adjust" re-selection-association="selection.association" re-mode="'regression'"></div>


<!-- 	<hr/>
	<div class="row col-sm-12">
		<div class="form-group">
			<label class="col-md-3 control-label">Source of data</label>
			<div class="btn-group" role="group" aria-label="Source of data">
			  <button type="button" class="btn btn-primary" ng-click="setDataSource('dataset')" ng-class="{ 'active': dataSource == 'dataset' }">Datasets</button>
			  <button type="button" class="btn btn-primary" ng-disabled="somButtonDisabled()" ng-click="setDataSource('som')" ng-class="{ 'active': dataSource == 'som' }">Self-organizing map filters</button>
			</div>
		</div>
	</div> -->
	<div class="row col-sm-12 text-center">
		<div growl inline="true" limit-messages="4" reference="regressioninfo" class="am-fade"></div>
	</div>
</div>