<div>
	<tabset>
		<tab select="selectTab('profiles')" >
			<tab-heading>Profiles</tab-heading>
			<h1>Predefined profiles</h1>
			<div class="row">
				<div class="col-sm-12" ng-repeat="profile in selection.profiles track by $index" style="margin-bottom: 20px;">
					<div class="input-group">
					    <span class="input-group-addon">
							<label>
								<input type="checkbox" ng-model="profile.selected">
								{{profile.name}}
							</label>
						</span>
					    <tags-input ng-disabled="true" ng-model="profile.variables" key-property="id" template="vis/menucomponents/tag.tpl.html" placeholder="-"></tags-input>
					</div>
				</div>
			</div>

		</tab>
		<tab select="selectTab('distributions')">
			<tab-heading>Distributions</tab-heading>
			<h1>Distributions</h1>
			<div class="multiple-variable-selection" re-selection="selection.distributions" re-mode="'multi'"></div>
		</tab>
		<tab select="selectTab('planes')">
			<tab-heading>Planes</tab-heading>
			<h1>Create a new SOM component plane</h1>
			<div class="multiple-variable-selection" re-selection="selection.planes" re-mode="'multi'"></div>
		</tab>
	</tabset>
	<div class="row col-sm-12 text-center">
		<div growl inline="true" limit-messages="4" reference="sominfo" class="am-fade"></div>
	</div>
</div>