<div class="modal-tabset-wrapper">
	<tabset class="modal-tabset">
		<tab select="selectTab(0)">
			<tab-heading>Input variables</tab-heading>
			<div class="multiple-variable-selection" re-selection="selection" re-mode="'multi'"></div>
		</tab>
		<tab select="selectTab(1)">
			<tab-heading>SOM Size</tab-heading>
			<br/><br/>
			<div class="col-sm-6">
			    <div ng-repeat="size in sizes track by $index" class="input-group">
			      <span class="input-group-addon">
			        <input type="radio" name="som-size" value="{{$index}}" ng-model="selectedSize.ind" aria-label="">
			      </span>
			      <div class="form-control">
			      	<b>{{size.rows}}</b> rows,
			      	<b>{{size.cols}}</b> columns
			      </div>
			    </div>
			</div>
		</tab>
		<tab select="selectTab(2)">
			<tab-heading>Pivot variable</tab-heading>
			<br/>
			<div class="col-sm-offset-2 col-sm-8 well well-sm v-align">
				<p>Please note that the pivot variable cannot contain any values that cannot be coerced into numbers.</p>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span class="modal-setting col-sm-2">Use pivoting</span>
					<div class="btn-group" ng-model="pivot.enabled" bs-radio-group>
					  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="false"> Disabled</label>
					  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="true"> Enabled</label>
					</div>
				</div>
			</div>
			<div class="multiple-variable-selection" re-selection="pivot.variable" re-mode="'single'"></div>
		</tab>
	</tabset>
	<div class="row col-sm-12 text-center">
		<div growl inline="true" limit-messages="1" reference="sominfo" class="am-fade"></div>
	</div>
</div>