<div class="modal-tabset-wrapper">
	<uib-tabset class="modal-tabset">
		<uib-tab select="selectTab('profiles')" >
			<uib-tab-heading>Profiles</uib-tab-heading>
			<div class="row som-profiles-container">
				<div class="col-sm-8" ng-repeat="profile in selection.profiles track by $index" style="margin-bottom: 20px;">
					<div class="input-group">
					    <span class="input-group-addon">
							<label>
								<input type="checkbox" ng-model="profile.selected">
								{{profile.name}}
							</label>
						</span>
					    <tags-input ng-disabled="true" ng-model="profile.variables" key-property="id" template="vis/menucomponents/tag.tpl.html" placeholder="-"></tags-input>
					</div>
				</div>
				<div class="col-sm-4 well well-sm v-align">
				<p>The profile histogram calculates <var>n</var> separate bars based on the equation below for the listed variables, where <var>n</var> is the number of active SOM circle filters.</p>

				<p><var>Bar value</var> = (<var>mean<sub>variable within the circle selection</sub></var> - <var>mean<sub>variable subgroup</sub></var>) / (<var>std<sub>all samples</sub></var> * <var>constant</var>)
				</p>
				</div>
			</div>

		</uib-tab>
		<uib-tab select="selectTab('distributions')">
			<uib-tab-heading>Distributions</uib-tab-heading>
			<div class="multiple-variable-selection" re-selection="selection.distributions" re-mode="'multi'"></div>
		</uib-tab>
		<uib-tab select="selectTab('planes')">
			<uib-tab-heading>SOM planes</uib-tab-heading>
			<div class="multiple-variable-selection" re-selection="selection.planes" re-mode="'multi'"></div>
		</uib-tab>
		<uib-tab select="selectTab('boxplots')">
			<uib-tab-heading>Box plot</uib-tab-heading>
			<div class="multiple-variable-selection" re-selection="selection.boxplots" re-mode="'multi'"></div>
		</uib-tab>
	</uib-tabset>
	<div class="row col-sm-12 text-center">
		<div growl inline="true" limit-messages="1" reference="sominfo" class="am-fade"></div>
	</div>
</div>