<div class="modal-tabset-wrapper">
	<tabset class="modal-tabset">
		<tab select="selectTab(0)">
			<tab-heading>Input variables</tab-heading>
			<div class="multiple-variable-selection" re-selection="selection" re-mode="'multi'"></div>		
		</tab>
		<tab select="selectTab(1)">
			<tab-heading>SOM Size</tab-heading>
			<br/><br/>
			<div class="col-sm-6">
			    <div ng-repeat="size in sizes track by $index" class="input-group">
			      <span class="input-group-addon">
			        <input type="radio" name="som-size" value="{{$index}}" ng-model="selectedSize.ind" aria-label="">
			      </span>
			      <div class="form-control">
			      	<b>{{size.rows}}</b> rows,
			      	<b>{{size.cols}}</b> columns
			      </div>
			    </div>
			</div>
		</tab>
	</tabset>
	<div class="row col-sm-12 text-center">
		<div growl inline="true" limit-messages="1" reference="sominfo" class="am-fade"></div>
	</div>
</div>