<div class="" style="height: 400px;">
	<h3 class="text-center" style="padding-bottom: 20px;">Self-Organizing Map settings</h3>
	<form class="form-horizontal" role="form" name="plot" novalidate>
		<fieldset>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="vars-som">Input variables</label>
				<div class="col-sm-8">
					<small class="pull-right" ng-show="currentSelection.x"><a href="" ng-click="clear()">Clear selection</a></small>
					<select 
					chosen
					multiple
					class="form-control" id="vars-som"
					data-placeholder=" "
					ng-model="currentSelection.x"
					ng-options="o.name as o.name group by o.group.name for o in variables | orderBy:['group.order','name_order']"
					required ng-disabled="!canEdit()"
					width="'100%'">
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button type="submit" class="btn btn-primary" ng-disabled="!canSubmitSOM()" ng-click="saveSettings()">Save settings</button>
			</div>
		</div>
		</fieldset>
	</form>

</div>

