<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Manage windows</h3>
  </div>

  <div ng-switch="visible()">
    <div ng-switch-when="true" class="text-center">
      <table class="table table-hover table-condensed" id="dataset-db">
        <thead>
          <tr>
            <th class="col-sm-1">Visible</th>
            <th class="col-sm-6">Type</th>
            <th class="col-sm-2">Count</th>
            <th class="col-sm-3 text-center">Close</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(type, payload) in windowTypes track by $index" ng-click="toggleWindowTypeVisiblity(type)" class="ctrl">
            <td class="col-sm-1">
              <input type="checkbox" ng-click="toggleWindowTypeVisiblity(type)" noclick ng-checked="payload.visible" />
            </td>
            <td class="col-sm-6">{{payload.name}}</td>
            <td class="col-sm-2 text-center">{{payload.count}}</td>
            <td class="col-sm-3 text-center">
                <i class="fa fa-lg fa-times-circle" ng-click="closeWindowType(type)" noclick></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="col-sm-1"></td>
            <td class="col-sm-6"></td>
            <td class="col-sm-2"></td>
            <td class="col-sm-3 text-center ctrl" ng-click="close()">
              <button type="button" class="btn btn-secondary btn-xs">Close all</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div ng-switch-when="false" class="text-center">
      <p class="text-info">No active figure windows.</button>
    </div>

  </div>

</div>