<div class="row">
	<div class="col-sm-offset-1 col-sm-2">
		<button class="btn btn-primary" ng-disabled="!canOpenPlane()" title="Create a new component plane" placement="bottom-left" content-template="vis/menucomponents/new.som-plane.tpl.html" data-animation="am-fade" bs-popover data-auto-close="1">
			<span>New component plane</span>
			<i class="fa fa-caret-down"></i>
		</button>
<!-- 		<span ng-repeat="filter in filterInfo" ng-style="{ 'color': filter.circle.color() }">
			Filter {{filter.circle.name()}}: <b>{{filter.count}}</b> samples
		</span> -->
	</div>
	<div class="col-sm-2" ng-repeat="filter in filterInfo">
		<ul class="list-group">
		  <li class="list-group-item">
		    <span class="badge am-fade">{{filter.count}}</span>
		    <strong ng-style="{ 'color': filter.circle.color() }">Filter {{filter.circle.name()}}</strong>
		  </li>
		</ul>
	</div>
	
	<div class="col-sm-offset-2 col-sm-1">
		<button type="button" class="btn btn-primary" ng-click="openSettings()">
			<i class="fa fa-cog"></i>
			<span>SOM settings</span>
		</button>
	</div>
</div>
