[melikerion_controller]
# exec path of Octave
octave_path=/usr/bin/octave
jsonlab_path=/home/jz/melikerion-controller/jsonlab/
# Melikerion source path (where the .m files lie)
melikerion_path=/home/jz/melikerion-controller/melikerion_1.2.1/source2/
# Directory in which to store temporary task files
task_file_path=/tmp
# Note: the maximum task count only applies to actual SOM computation tasks,
# not to immediate responses from the daemon.
max_concurrent_tasks=10

[mongodb]
# Default port & host should be fine
host=localhost
port=27017
# Database name
db=melikerion_2
task_expiration_seconds=600

# normally you would not have to change the below:

# Collection used by the GridFS
coll_som_gridfs=som_gridfs
# collection for keeping current computational tasks
coll_current_tasks=tasks
coll_som=som
coll_planes=planes

[zeromq]
# number of concurrent workers the melikerion service starts
workers=5
bind_som=tcp://127.0.0.1:5678
bind_som_workers=inproc://somworkers

bind_plane=tcp://127.0.0.1:5679
bind_plane_workers=inproc://planeworkers
