/********************
  PLOTS
 *********************/


.plot-title {
  display: block;
}


.plot-title:first-letter {
  text-transform: uppercase;
}


// allow overlapping bars on histograms
.dc-chart rect.bar {
opacity: 0.60;
}

.dc-chart rect.bar.pooled {
  opacity: 1;
} 


// heatmap cell greyed out
g.selected rect {
  fill: darkgrey;
}

g.deselected rect {
  fill: lightgrey;
}


.colorbar .axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.colorbar .axis .domain{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}


.heatmap-chart-anchor {
  float: left;
}

.heatmap-legend-anchor {
  float: right;
}

// SOM label settings
svg text.label {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 14px;
  font-family: FreeSans;
}

.histogram, .heatmap, .som, .scatterplot, .profile-histogram {
  position: absolute;
  width: 100%;
  height: 90%;
}

.profile-histogram {
  min-height: 250px;


    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

  /*  .bar {
      fill: steelblue;
    }*/

    .x.axis path {
      display: none;
    }

}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.heatmap-chart-anchor {
  width: 86%;
  height: 100%;
}

.heatmap-legend-anchor {
  width: 5%;
  min-width: 60px;
  height: 100%;
}

rect.heat-box {
  cursor: pointer;
}

.hexagon {
  stroke: #fff;
  stroke-width: 1px;
}

.hexagon.selected {
  fill-opacity: 0.15 !important;
}

/* 
.hexagon-selected {
  stroke: black;
  stroke-width: 3px;
} */

// see http://stackoverflow.com/questions/7570917/svg-height-incorrectly-calculated-in-webkit-browsers
.somplane svg {
  max-height: 100%;
}

.heatmap {
  // heatmap axis tick fonts
  .axis > .tick {
    font-size: 1.7em;
  }
}

.full-height {
  height: 100%;
}

.tooltip-val {
  color: orangered;
}