<!--[if lt IE 7 ]> <html ng-app="plotter" ng-controller="AppCtrl" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html ng-app="plotter" ng-controller="AppCtrl" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html ng-app="plotter" ng-controller="AppCtrl" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html ng-app="plotter" ng-controller="AppCtrl" class="ie9"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html ng-app="plotter" ng-controller="AppCtrl" class=""> <!--<![endif]-->
<html ng-app="plotter" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <!-- social media tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="og:title" content="Plotter" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://github.com/amergin/plotter" />
  <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png" />
  <meta property="og:description" content="Plotter tool.">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>

<body>
<div class="pl-container pl-flex-row">
  <div class="pl-left pl-sidenav am-fade-left" ui-view="sidenav" ng-show="sideMenuVisible()"></div>
  <div class="pl-right pl-container pl-flex-column">
    <div class="pl-header" ui-view="header"></div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="main" class="ng-scope"></span>
    <div growl class="ng-isolate-scope" limit-messages="4"></div>
    <div class="pl-content pl-flex-row" ui-view="content">
    </div>
  </div>
</div>

</body>
</html>
