<!DOCTYPE html>
<html ng-app="plotter" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <!-- social media tags -->
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <meta property="og:title" content="Plotter" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://github.com/amergin/plotter" />
  <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png" />
  <meta property="og:description" content="Plotter tool.">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div ui-view="header"></div>
    </div>

    <div class="row content">
          <!-- Inject route here -->
          <div ui-view/>
          <div class="text-center" ng-show="loading.spinner">
            <i class="fa fa-spinner fa-5x fa-spin"></i>
            <h3>Loading...</h3>
          </div>
    </div>


  </div> 
  <!-- end container -->

  <footer>
    <p>Footer</p>
    <pre>
      $state = {{$state.current.name}}
      $stateParams = {{$stateParams}}
    </pre>
  </footer>

</body>



</html>
