.modal-wide .modal-dialog {
	width: 90%;
	min-width: 800px;
	height: 90%;
	overflow: hidden;
	margin-top: 2.5%;

	.modal-content {
		height: 100%;
		overflow: initial;

		.modal-header {
			/* max-height: 10%; */
			min-height: 40px;
		}
		.modal-body {
			max-height: 80%;
			overflow-y: auto;
		}
		.modal-footer {
			max-height: 10%;
		}
	}


}

/* override angular-growl defaults */
.growl-container.growl-fixed.top-left {
  top: 140px;
}

// Wide modal:

.modal-wide .modal-dialog .modal-content .modal-body {
	overflow-x: hidden;
}

.modal-wide .modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-wide .modal-title {
      margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: #444;
    text-align: left;
    padding: 3px 0;
    font-weight: bold;
    text-transform: lowercase;
    font-variant: small-caps;
    border-bottom: 1px solid #444;
}


.modal-wide .modal-header {
  border: 0;
  max-height: none !important;
  flex: 0 0 55px;
}

.modal-wide .modal-body {
  max-height: none !important;
  flex: auto;
  padding-top: 0;
  overflow: hidden !important;
  height: 100%; 
  padding: 0 15px;
}

.modal-wide .modal-footer {
  max-height: none !important;
  flex: 0 0 50px;
  padding: 8px;
  border: 0 !important;

}

// normal modal
.modal-normal .modal-body {
  min-height: 15%;
}
